body {
	background-color:#000000;
}
p {color: #ffc0cb; 
font-family: 'Josefin Sans', sans-serif;
}
h1 {color: #ff0000;
font-family: 'Poppins', sans-serif;}

h2 {color: #ff0000;
font-family: 'Poppins', sans-serif;}

h3 {color: #ff0000; 
font-family: 'Poppins', sans-serif;}

